services:
  mosquitto-broker:
    image: eclipse-mosquitto
    container_name: mosquitto-broker
    mem_limit: 128M
    ports:
      - "1883:1883" # default
      - "9001:9001" # websockets
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./logs:/mosquitto/log
    restart: always
  illumination:
    container_name: illumination
    mem_limit: 128M
    depends_on:
      - mosquitto-broker
    build:
      context: ./
      dockerfile: ./illumination/Dockerfile
    devices:
      - /dev/gpiomem:/dev/gpiomem
      - /dev/gpiochip0:/dev/gpiochip0
      - /dev/gpiochip1:/dev/gpiochip1
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - TZ=Europe/Warsaw
    volumes:
      - ./logs:/var/logs
      - .env:/usr/src/app/config/.env
    restart: always
  diagnostics:
    container_name: diagnostics
    mem_limit: 128M
    depends_on:
      - mosquitto-broker
    build:
      context: ./
      dockerfile: ./diagnostics/Dockerfile
    devices:
      - /dev/gpiomem:/dev/gpiomem
      - /dev/gpiochip0:/dev/gpiochip0
      - /dev/gpiochip1:/dev/gpiochip1
{% if is_spi %}
      - /dev/spidev0.0:/dev/spidev0.0
{% endif %}
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - TZ=Europe/Warsaw
    volumes:
      - ./logs:/var/logs
      - .env:/usr/src/app/config/.env
    restart: always
  camera:
    container_name: camera
    mem_limit: 256M
    depends_on:
      - mosquitto-broker
    privileged: true
    build:
      context: ./
      dockerfile: ./camera/Dockerfile
    devices:
      - /dev/video0:/dev/video0
      - /dev/video1:/dev/video1
      - /dev/media4:/dev/media4
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - TZ=Europe/Warsaw
    volumes:
      - ./logs:/var/logs
      - .env:/usr/src/app/config/.env
      - /dev/bus/usb:/dev/bus/usb
      - ./pictures:/var/pictures
    restart: always
  notification:
    container_name: notification
    mem_limit: 128M
    depends_on:
      - mosquitto-broker
    build:
      context: ./
      dockerfile: ./notification/Dockerfile
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=debug
      - TZ=Europe/Warsaw
    volumes:
      - ./logs:/var/logs
      - .env:/usr/src/app/config/.env
      - ./token.json:/usr/src/app/token.json
    restart: always

networks:
  default:
    name: "plants-default"
